body {
  background-color: rgb(243, 99, 99);
}

input {
  margin: 30px 10px 10px 0;
}

.books-table {
  margin: auto;
  margin-bottom: 10px;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
  width: 70vw;
  flex-grow: 3;
}

thead:first-child {
  background-color: rgb(233, 211, 211);
}

table tbody tr:nth-child(even) {
  background-color: rgb(241, 214, 214);
}

th {
  padding: 5px;
  border: 2px solid black;
}

td {
  padding: 5px;
  border: 2px solid black;
}

img {
  width: 90px;
  height: 140px;
}

.modal123 {
  background-color: rgb(206, 83, 83);
  flex-grow: 2;
}

.flex-con {
  display: flex;
  flex-direction: column;
}

.modal * {
  margin: 10px;
  display: flex;
}

table img {
  margin: auto;
  width: 50px;
  height: 50px;
}

.buttons-pages {
  align-self: center;
}

.book-added {
  margin-left: 30px;
  color: black;
}
.click{
  cursor: pointer;
}


#head-line{
  text-align: center;
}
.add-book{
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animate__animated.animate__heartBeat{
  --animate-duration: 2s;
}
.modal button{
  text-align: center;
  margin: auto;
}
.modal-footer{
  display: flex;
  
}
.modal-footer button{
  margin: auto !important;
}
.book-rate{
  background-color: rgb(200, 200, 236);
  color: red;
}